.homePage {
  height: 100vh;
}

.homePage__body {
  display: flex;
  height: 92vh;
}

/* -----------------------createCampaignBody----------------------------- */
.createCampaignBody {
  flex: 1;
  padding-left: 20px;
}

.createCampaignBodyHeader {
  margin-bottom: 10px;
}

.createCampaignBody__body {
  display: flex;
}

.createCampaignBody__body__left > form {
  display: flex;
  flex-direction: column;
}

.createCampaignBody__body__right {
  margin-left: 50px;
  flex: 1;
  margin-right: 20px;
}
/* 
.createCampaignBody__body__right > p {
  margin-bottom: 20px;
} */

/* ---------------------modify template---------------- */
