.modifyTemplate__body {
}

/* --------------------------modified body ----------------- */

.createTemplate {
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
