.templateEngine__body__body {
  background-color: #f4f4f4;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.templateEngine__body__body__content {
  background-color: white;
  height: 45vh;
  width: 90%;
}
