.loginregisterUI {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}

/* .loginregisterUI__body > h1 {
  font-size: 100px;
}

.loginregisterUI__body > p {
  font-size: 20px;
} */

.loginregisterUI > h1 {
  position: absolute;
  z-index: 999;
  top: 12%;
}

.loginregisterUI__registerModal {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.28);
  width: 100vw;
  box-sizing: border-box;
  z-index: 999;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
