/* mobile devices */
@media screen and (max-width:472px){
  .loginPage{
    width: 95%;
  }

  .loginPage__body > form{
    width: 100%;
    /* background-color: brown; */
  }
} 

/* tablet */
@media (min-width:472px) and (max-width:768px){
  .loginPage{
    width: 70%;
  }

  .loginPage__body > form{
    width: 100%;
  }
}

/* laptop and big devices */
@media screen and (min-width:769px){
  .loginPage{
    width: 40%;
  }

  .loginPage__body > form{
    width: 100%;
    /* background-color: brown; */
  }
}

.loginPage {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  align-items: center;
  background-color: #f6f9fc;
  /* width: 400px; */
  border: 1px solid #f6f9fc;
  box-shadow: 0 0 7px 2px rgba(0, 0, 0, 0.24);
  border-radius: 10px;
  /* margin-left: 20px; */
}

.loginPage:hover {
  box-shadow: 0 0 17px 2px rgba(0, 0, 0, 0.24);
}

.loginPage__header {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
  align-items: center;
}

.loginPage__body{
  /* background-color: chartreuse; */
  width: 90%;
}

.loginPage__body > form {
  display: flex;
  flex-direction: column;
  /* width: 350px; */
  box-sizing: border-box;
}

.loginPage__input {
  margin-top: 20px !important;
}

.loginPage__button {
  text-transform: capitalize !important;
  margin-top: 20px !important;
}

.loginPage__footer {
  margin-top: 20px;
  margin-bottom: 20px;
}

.loginPage__footer:hover {
  cursor: pointer;
}

.loginPage__forget {
  text-transform: capitalize !important;
}

/* ----------------------------- t20 -step verification ------------------- */

.twostepverification__emailandsms > h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.twostepverification__sms {
  height: 10vh;
  /* background-color: aqua; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twostepverification__sms:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.twostepverification__email {
  height: 10vh;
  /* background-color: bisque; */
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  cursor: pointer;
}

.twostepverification__email:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.loginPage__tryanotherway {
  /* background-color: aqua; */
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: -50px;
}
