/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
   .deleteGroup{
    width: 90%;
  } 
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .homePage__sendEmail{
    width: 100%;
  }

  .homePage__sendEmail__body{
    width: 95%;
    /* height: 100vh; */
    padding-bottom: 22px;
  }

  .deleteGroup{
    width: 90%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .homePage__sendEmail{
    width: 100%;
  }

  .homePage__sendEmail__body{
    width: 60%;
    /* height: 80vh; */
    padding-bottom: 20px;
  }

  .deleteGroup{
    width: 40%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .homePage__sendEmail{
    width: 100%;
  }

  .homePage__sendEmail__body{
    width: 50%;
    /* height: 70vh; */
    padding-bottom: 10px;
  }

  .deleteGroup{
    width: 40%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .homePage__sendEmail{
    width: 100%;
  }

  .homePage__sendEmail__body{
    width: 50%;
    /* height: 70vh; */
    padding-bottom: 10px;
  }

  .deleteGroup{
    width: 40%;
  }
}

.homePage__body__body {
  flex: 1;
  z-index: 9;
  margin-top: 10px;
}

.homePage__body__bodyTable {
  margin-top: 20px;
  height: 70vh;
}

/* ---------------------------table header-------------------- */

.homePage__body__bodyTableHeader {
  display: flex;
  cursor: pointer;
}
/* ----------------------name------------------------ */
.homePage__body__bodyTable__name {
  padding-left: 10px;
  flex: 0.3;
}

/* header for template */
.homePage__body__bodyTable__name__template{
  flex:0.7;
  padding-left: 10px;
}

/* user management  */
.homePage__body__bodyTable__name__user{
  flex:0.2;
  padding-left: 10px;
  overflow: hidden;
  margin-right: 15px;

}

.homePage__body__bodyTable__name__email{
  flex:0.3;
  overflow: hidden;
  margin-right: 15px;
}

.homePage__body__bodyTable__name > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* ----------------------create------------------------ */
.homePage__body__bodyTable__create {
  flex: 0.2;
}

.homePage__body__bodyTable__create > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* ------------------------------unique open---------------------- */
.homePage__body__bodyTable__uniqueOpen {
  flex: 0.2;
}

.homePage__body__bodyTable__uniqueOpen > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* -----------------------------send------------------------- */
.homePage__body__bodyTable__send {
  flex: 0.1;
}

.homePage__body__bodyTable__send > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* ---------------------------------edit------------------------- */
.homePage__body__bodyTable__edit {
  flex: 0.1;
}

.homePage__body__bodyTable__edit > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* ------------------------------------delete--------------------------- */
.homePage__body__bodyTable__delete {
  flex: 0.1;
}

.homePage__body__bodyTable__delete > h2 {
  margin-bottom: 10px;
  font-size: 20px;
}

/* ----------------------------------------tablebody row------------------------- */

.homePage__body__bodyTableBody {
  height: 65vh;
  
  scroll-behavior: smooth;
  overflow-x: hidden;
  cursor: pointer;
  box-sizing: border-box;

  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none
}

.homePage__body__bodyTableBody::-webkit-scrollbar{
  display: none;
}

.homePage__body__bodyTableBodyRow {
  display: flex;
  flex-direction: row;
  padding-bottom: 10px;
  padding-top: 10px;
  align-items: center;
  /* background-color: aqua; */
}

.homePage__body__bodyTableBody > .homePage__body__bodyTableBodyRow:hover {
  background-color: #ededed;
}

/* ---------------------send email---------------------- */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .homePage__sendEmail{
    width: 100vh;
  }

  .homePage__sendEmail__body{
    width: 95%;
    /* height: 100vh; */
    padding-bottom: 22px;
  }
}

.homePage__sendEmail {
  /* background-color: aqua; */
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.homePage__sendEmail__body {
  background-color: #ededed;
}

.homePage__sendEmail__body__header {
  margin-top: 10px;
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.homePage__sendEmail__body__header > h5 {
  margin-left: 10px;
}

/* ---------------send email --------body --------content--------- */

.homePage__sendEmail__body__body {
  margin-top: 10px;
  margin-left: 10px;
}

.homePage__sendEmail__content > form {
  display: flex;
  flex-direction: column;
}

.sendEmail__subject {
  width: 97%;
  height: 5vh;
  margin-bottom: 10px;
  margin-top: 10px;
}

.sendEmail__body {
  width: 97%;
  height: 35vh;
  margin-bottom: 10px;
  resize: none;
  margin-top: 10px;
}

@media only screen and (max-width: 1000px) {
  .homePage__sendEmail__body {
    height: 65vh;
  }

  .sendEmail__subject {
    width: 95%;
  }

  .sendEmail__body {
    width: 95%;
  }
}

/* --------------------------campaign delete-------------------- */
/* ---------------deleteGroup---------- */
.deleteGroup {
  border-radius: 7px;
  background-color: rgba(255, 255, 255, 1);
  /* width: 40%, */
}

.DeleteButton {
  background-color: #961a22; /* red */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.DeleteNotButton {
  background-color: #2c9848; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 20px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 10px;
}

.DeleteNotButton:hover,
.DeleteButton:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}


/* -------------user management preview------ */
.usermanagement__preview{
  width: 65%;
  background-color: white;
  /* height: 50vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.usermanagement__preview__header{
  display: flex;
  /* flex: 1; */
  /* background-color: blue; */
  width: 100%;
  justify-content: flex-end;
}

.usermanagement__preview__body{
  width: 100%;
  display: flex;

}

.usermanagement__preview__left{

  width: 50%;
  /* background-color: blue; */
 
}

.usermanagement__preview__left >div {
  display: flex;
  flex-direction: column;
  height: 45vh;
  overflow-y: scroll;
  margin-top: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.usermanagement__preview__left > div::-webkit-scrollbar{
  display: none;
}

.usermanagement__preview__right{
  
  width: 50%;
  /* background-color: yellow; */
  
}

.usermanagement__preview__right > div{
  height: 45vh;
  margin-top: 10px;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
  display: flex;
  flex-direction: column;
}

.usermanagement__preview__right > div::-webkit-scrollbar{
  display: none;
}