.modifyTemplate__body__header {
  display: flex;
  color: white;
  height: 30px;
  align-items: center;
  padding-top: 20px;
  background-color: #2bae66;
  /* background-color: aqua; */
  cursor: pointer;
}

.modifyTemplate__body__header__content__title,
.modifyTemplate__body__header__content__header,
.modifyTemplate__body__header__content__body,
.modifyTemplate__body__header__content__footer {
  /* background-color: aqua; */
  flex: 0.5;
  margin-top: 5px;
  /* padding-bottom: 20px; */
  padding-left: 10px;
  box-sizing: border-box;
}

.modifyTemplate__body__header__content__title__active,
.modifyTemplate__body__header__content__header__active,
.modifyTemplate__body__header__content__body__active,
.modifyTemplate__body__header__content__footer__active {
  flex: 0.5;
  margin-top: 5px;
  box-sizing: border-box;
  padding-left: 10px;
  color: #2a3f54;
  background-color: white;
  /* background-color: aqua; */
}

/* ---------------------header inner ---------------------- */
.modifyTemplate__body__header__inner {
  height: 50px;
  background-color: white;
  /* background-color: aqua; */
  color: #2a3f54;
  display: none;
}

.modifyTemplate__body__header__inner__title,
.modifyTemplate__body__header__inner__header,
.modifyTemplate__body__header__inner__body,
.modifyTemplate__body__header__inner__footer {
  cursor: pointer;
}

.modifyTemplate__body__header__inner__title {
  display: none;
  justify-content: space-evenly;
  /* background-color: bisque; */
  flex: 1;
  padding-top: 10px;
}

.modifyTemplate__body__header__inner__header {
  display: none;
  flex: 1;
  justify-content: space-evenly;
  padding-top: 10px;
}

.modifyTemplate__body__header__inner__body {
  display: none;
  flex: 1;
  justify-content: space-evenly;
  padding-top: 10px;
}

.modifyTemplate__body__header__inner__footer {
  display: none;
  flex: 1;
  justify-content: space-evenly;
  padding-top: 10px;
}

/* -----------------header content inner title -------------- */
.modifyTemplate__body__header__inner__title__active {
  color: green;
}
