.homePage__body__bodyHeaderTitle {
  padding-left: 10px;
}

.homePage__body__bodyHeaderCompany {
  display: flex;
  /* background-color: aqua; */
  /* justify-content: space-between; */
  align-items: center;
  margin-top: 10px;
}

.homePage__body__bodyHeaderCompanyLeft {
  flex: 0.5;
  display: flex;
}

.homePage__body__bodyHeaderCompanyRight {
  flex: 0.5;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
  /* background-color: bisque; */

}

/* --------------------tabView--------------------- */

.homePage__tabView {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.homePage__tabView__right {
  /* width: 37vh; */
  height: 5vh;
  margin-right: 10px;
  display: flex;
  border-radius: 20px;
  background-color: #fcf6f5;
  box-sizing: border-box;
  /* align-items: center; */
}

@media  screen and (max-width:600px) {
  .homePage__tabView__right {
    font-size: x-small;
    /* width: 50%; */
    
    /* background-color: aqua; */
    /* flex: 0.7;
    overflow: hidden;
    font-size: smaller; */
  }
}

@media screen and (min-width: 769px) {
  .homePage__tabView__right {
    /* flex: 0.5;
    background-color: red; */
    /* font-size: smaller; */
  }
}

@media screen and (max-width: 1200px) {
  .homePage__tabView__right {
    /* width: 34vh; */
    /* width: 31.5vh; */
  }
}

.homePage__tabView__right__view {
  padding-top: 8px;
  padding-right: 8px;
  padding-left: 10px;
  cursor: pointer;
  background-color: #2bae66;
  border-radius: 20px;
  color: #fcf6f5;
}

.homePage__tabView__right__create {
  padding-top: 8px;
  padding-left: 10px;
  cursor: pointer;
  border-radius: 20px;
  padding-right: 10px;
  color: #2bae66;
  background-color: #fcf6f5;
}

.MuiButton-startIco {
  font-size: 20px !important;
  font-weight: 100 !important;
}
